:root {
  --standard-box-shadow: rgb(156, 156, 156) 1px 1px 5px;
  --hover-accent-color: lightgray;

  --menu-icon: url("../images/menu.svg");
  --left-arrow: url("../images/chevron-left.svg");
  --right-arrow: url("../images/chevron-right.svg");

  --dropdown-toggle-dimensions: 40px;
  --dropdown-border-radius: 10px;
}

.dropdown {
  position: relative;
  width: var(--dropdown-toggle-dimensions);
}

.dropdown-toggle {
  appearance: none;

  border: none;
  height: var(--dropdown-toggle-dimensions);
  width: var(--dropdown-toggle-dimensions);
  border-radius: var(--dropdown-border-radius);

  background-image: var(--menu-icon);
  background-color: white;

  cursor: pointer;
}

.dropdown-toggle:hover {
  background-color: var(--hover-accent-color);
}

.dropdown-toggle.on {
  background-color: gray;
}

.dropdown-menu {
  box-shadow: var(--standard-box-shadow);
  border-radius: var(--dropdown-border-radius);

  position: absolute;
  top: calc(var(--dropdown-toggle-dimensions) + 10px);
  width: max-content;
  min-width: 200px;
  max-width: 34vw;

  background-color: white;
  z-index: 1;
}

.dropdown-menu.align-right {
  right: 0;
}

.dropdown-menu-item {
  padding: 15px;
  border-radius: var(--dropdown-border-radius);

  cursor: pointer;
}

.dropdown-menu-item:hover {
  background-color: var(--hover-accent-color);
}

.hidden {
  display: none;
}

.carousel-frame {
    position: relative;

    border: solid;
    height: 300px;
    width: 600px;
    overflow: hidden;
}

.carousel-slide-collection {
    display: flex;

    position: relative;
}

.carousel-slide {
    flex: 1 0 600px;

    height: 300px;
}

.carousel-button-controls {
    display: flex;
    align-items: center;

    position: absolute;
    top: 5px;
    left: 5px;
    height: 290px;
    width: 590px;
}

.carousel-nav-dot-collection {
    flex: 1;
    align-self: flex-end;

    display: flex;
    justify-content: center;
    gap: 5px;
}

.carousel-nav-dot {
    box-sizing: border-box;
    height: 17px;
    width: 17px;
    border-radius: 10px;
    border: solid 2px;
    padding: 2px;
    background-clip: content-box;
}

.carousel-nav-dot.selected {
    background-color: green;
    /* TODO: Programmatically toggle this class */
}

button.icon {
    border: none;
    background-color: black;
    height: 25px;
    width: 25px;
    mask-repeat: no-repeat;
    mask-position: center;
}

.icon.back {
    mask-image: var(--left-arrow);
}

.icon.next {
    mask-image: var(--right-arrow);
}